table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }
  
.container
{
  width: 80%;
  margin: 0px auto;
  margin-top: 8%;
}

.search
{
  width:80%;
}

.addemp
{
  width:18%;
  font-size: medium;
  height: 51px;
  padding-bottom: 0px;
  border-bottom-width: 0px;
  margin-bottom: 0px;
  bottom: 7px;

}

