<div *ngIf="router.url!= '/login'" > 
    <mat-toolbar color="primary">
      <!-- <div fxShow="true" fxHide.gt-sm="true">
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div> -->
  
      <!-- <a mat-button class="companyName" routerLink="/"> -->
        <span>Cybercom Creation</span> &nbsp;&nbsp;&nbsp;
      <!-- </a> -->
      
      
      <div fxShow="true" fxHide.lt-md="true">
        
        <button mat-flat-button color="primary" class='size'  [matMenuTriggerFor]="employee"  #employeeTrigger="matMenuTrigger"  (mouseenter)="employeeTrigger.openMenu()"  > <span  (mouseleave)="employeeTrigger.closeMenu()">Employee</span></button>
    
        <mat-menu #employee="matMenu" class='size' [overlapTrigger]="false">
            <div (mouseleave)="employeeTrigger.closeMenu()">
            <button mat-menu-item routerLink="/addemployee">Add Employee</button>
            <button mat-menu-item routerLink="employeeList">List Of Employee</button>
            </div>
          </mat-menu>
          &nbsp;
        <button mat-flat-button color="primary" class='size' routerLink="" [matMenuTriggerFor]="tp"  #tpTrigger="matMenuTrigger"  (mouseenter)="tpTrigger.openMenu()">T&P</button>
        <mat-menu #tp="matMenu" class='size' [overlapTrigger]="false">
            <div (mouseleave)="tpTrigger.closeMenu()">
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
            </div>
          </mat-menu>
          &nbsp;
        <button mat-flat-button color="primary" class='size' routerLink="">Contact us</button>

        
        
        
      </div>
      <span class="menu-spacer"></span>

        <button  mat-flat-button color="primary" (click)='auth.logOut()' >LogOut</button>
  
    </mat-toolbar>
    <!-- <mat-sidenav-container fxFlexFill class="example-container">
  
      <mat-sidenav color="primary" #sidenav fxLayout="column" mode="over"  opened="false" fxHide.gt-sm="true">
        <div fxLayout="column">
          <a mat-button routerLink="/about-us">About us</a>
          <a mat-button routerLink="/prices">Prices</a>
          <a mat-button routerLink="/start-page">Start page</a>
          <a mat-button routerLink="/offer">Offer</a>
          <a mat-button routerLink="/contact">Contact</a>
        </div>
      </mat-sidenav>
      <mat-sidenav-content fxFlexFill>
        Awesome content
      </mat-sidenav-content>
    </mat-sidenav-container> -->
  </div>  
<router-outlet></router-outlet>
  


